body, html {
  height: 100%;
  margin: 0;
  font-size: 1.0em;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #1d1d1d;
}
:root {
  --grey: rgb(101, 100, 100);
  --lightgrey: #EFEFEF;
  --focus: pink;

  --water: #001bdb;
  --water2: #59c2e3;
	--size-ring:3em;

  /* eevee name colors */
  --eeveeBrown:   #955a00;
  --vaporeonBlue: #87ABFF;
  --jolteonYellow:#FED26C;
  --flareonRed:   #ff4c4c;
  --espeonPurple: #F7C7FC;
  --umbreonBlack: #adadad;
  --leafeonGreen: #a9c798;
  --glaceonWhite: #ffffff;
  --sylveonPink:  #FFAAF2;
}

.menuEevees button{
  display: flex;
  border:none;
  background: none;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  cursor: pointer;
}

.menuEevees button:focus{
  border:var(--focus);
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Pokeball Animation and Keyframes */
div.pokemonContainer{ 
  grid-area: 1 / 1 / 3 / 6;
  background-size:50% auto, 400% 400%;
  background-repeat: no-repeat, repeat;
  background-image: url(../gif/Default.gif), 
  linear-gradient(180deg, rgba(227,86,86,1) 50%, rgba(246,246,246,1) 50%);
  width: 100%;
  animation: default 30s infinite linear;
  height: 85vh;
}

@keyframes default {
  0% {
      background-position: 
      center center, 
      10%;
  }
  100% {
      background-position: 
      center center,
      100%;
  }
}



/* Eevee Animation and Keyframes */
.pokemonContainer[data-theevee="eevee"] {
  background-image:
    url(../images/gif/133-Eevee.gif),
    repeating-conic-gradient(#78420E 0% 25%, #955a00 0% 50%);
  opacity: 1;
  background-position:
    0,
    25px 25px;
  background-size:
    100% auto,
    200px 200px;
  background-repeat:
    no-repeat,
    repeat;
  width: 100%;
  animation-name: eevee;
}

.pokemonContainer.shinyEevee {
  background-image: 
  url(../images/gif/133-Eevee-Shiny.gif),
  repeating-conic-gradient(#78420E 0% 25%, #955a00 0% 50%);
}

h1[data-h1Kleur="kleurEevee"] {
color:var(--eeveeBrown);
}

@keyframes eevee {
  0% {
      background-position: 
      bottom, 
      top left;
  }
  100% {
      background-position: 
      bottom,
      right bottom;
  }
}

/* Vaporeon Animation and Keyframes */
.pokemonContainer[data-theevee="vaporeon"] {
  background-image:
    url(../images/gif/134-Vaporeon.gif),
    repeating-radial-gradient(
			closest-side circle,
      #59c2e3
				calc(100% - var(--size-ring) * 3),
        #2c3bb0
				calc(100% - var(--size-ring) * 1),
        navy
				calc(100% - var(--size-ring) * 1)
		);
	background-position:
  bottom,
  center center;
  background-size:
  100% 100%,
  0;
	animation: wavesWater 3s linear infinite;
}

h1[data-h1Kleur="kleurVaporeon"] {
  color:var(--vaporeonBlue);
  }

@keyframes wavesWater {
	0% {
		background-size: 
    100%,
    100% 100%;
	}
	100% {
		background-size: 
    100%,
    calc(100% + var(--size-ring) * 4) calc(100% + var(--size-ring) * 4);
	}
}

/* Jolteon Animation and Keyframes */
.pokemonContainer[data-theevee="jolteon"] {
    opacity: 1;
    background-image:  
    url(../images/gif/135-Jolteon.gif),
    url(../images/lightning.svg),
    linear-gradient( yellow, orange);
    background-position:
    bottom,  
    0px 0;
    background-size:
    100% auto,
    100px 100px,
    100%;
    background-repeat:0, repeat;
    animation: lightning 20s linear infinite;
}

h1[data-h1Kleur="kleurJolteon"] {
  color:var(--jolteonYellow);
  }

@keyframes lightning {
  0% {
		background-position: 
    bottom,
    top right;
	}
	100% {
		background-position:
    bottom,
    bottom left;
  }
}

/* Flareon Animation and Keyframes */
.pokemonContainer[data-theevee="flareon"] {
background-image: 
  url(../images/gif/136-Flareon.gif),
  linear-gradient(0deg, rgba(255,0,0,1) 00%, rgba(255,0,0,1) 33%, rgba(255,151,0,1) 33%, rgba(255,151,0,1) 66%, rgba(255,255,116,1) 66%);
background-position: 
  bottom,
  center;
background-size:
  100% auto,
  100% 10%;
background-repeat:
  no-repeat,
  repeat;
width: 100%;
height: 85vh;
animation: fire 25s linear infinite;
content:url(../cries/eevee.mp3);
}

h1[data-h1Kleur="kleurFlareon"] {
  color:var(--flareonRed);
  }

@keyframes fire {
0% {
    background-position: 
    bottom, 
    bottom;
}
100% {
    background-position: 
    bottom,
    top bottom;
}
}

/* Espeon Animation and Keyframes */
.pokemonContainer[data-theevee="espeon"] {
  background-image:
  url(../images/gif/196-Espeon.gif),
  repeating-radial-gradient(
    closest-side circle,
    #dd7ff5
      calc(100% - var(--size-ring) * 2),
    #8b4b9b
      calc(100% - var(--size-ring) * 1)
  );
background-position:
bottom,
center center;
animation: wavesPhysic 15s linear infinite;
}

h1[data-h1Kleur="kleurEspeon"] {
  color:var(--espeonPurple);
  }

@keyframes wavesPhysic {
0% {
  background-size: 
  100%,
  200% 200%;
}
100% {
  background-size: 
  100%,
  calc(100% + var(--size-ring) * 4) calc(100% + var(--size-ring) * 4);
  }
}

/* Umbreon Animation and Keyframes */
.pokemonContainer[data-theevee="umbreon"] {
  background-image:
  url(../images/gif/197-Umbreon.gif),
  repeating-radial-gradient(
    closest-side circle,
    #1d1d1d
      calc(100% - var(--size-ring) * 2),
    black
      calc(100% - var(--size-ring) * 1)
  );
background-position:
bottom,
center center;
animation: wavesDark 15s linear infinite;
}

h1[data-h1Kleur="kleurUmbreon"] {
  color:var(--umbreonBlack);
  }

@keyframes wavesDark {
0% {
  background-size: 
  100%,
  200% 200%;
}
100% {
  background-size: 
  100%,
  calc(100% + var(--size-ring) * 4) calc(100% + var(--size-ring) * 4);
  }
}

/* Leafeon Animation and Keyframes */
.pokemonContainer[data-theevee="leafeon"] { 
  background-image: 
  url(../images/gif/470-Leafeon.gif),
  repeating-linear-gradient(315deg,#f7e0b5, #f7e0b5 30px, #a9c798 30px, #a9c798  60px);
  background-position: 
    bottom,
    center;
  background-size:
    100% auto,
    400% 400%;
  background-repeat:
    no-repeat,
    repeat;
  width: 100%;
  animation: leaves 25s linear infinite;
}

h1[data-h1Kleur="kleurLeafeon"] {
  color:var(--leafeonGreen);
  }

@keyframes leaves {
  0% {
      background-position: 
      bottom, 
      0%;
  }
  100% {
      background-position: 
      bottom,
      100%;
  }
}

.pokemonContainer[data-theevee="glaceon"] {
  background-image:  
  url(../images/gif/471-Glaceon.gif),
  url(../images/snow.svg),
  linear-gradient(rgb(151, 224, 255), rgb(55, 110, 250));
  background-position:
  bottom,  
  0px 0;
  background-size:
  100% auto,
  70px auto,
  100%;
  /* background-repeat:0, repeat; */
  animation: snow 20s linear infinite;
}

h1[data-h1Kleur="kleurGlaceon"] {
  color:var(--glaceonWhite);
  }

@keyframes snow {
0% {
  background-position: 
  bottom,
  top;
}
100% {
  background-position:
  bottom,
  bottom;
}
}

.pokemonContainer[data-theevee="sylveon"] {
  background-image: 
  url(../images/gif/700-Sylveon.gif),
  repeating-linear-gradient(45deg,#FFAAF2, #FFAAF2 30px, #FD87EB 30px, #FD87EB 60px);
  background-position: 
    bottom,
    center;
  background-size:
    90% auto,
    400% 400%;
  background-repeat:
    no-repeat,
    repeat;
  width: 100%;
  animation: fairy 25s linear infinite;
}

h1[data-h1Kleur="kleurSylveon"] {
  color:var(--sylveonPink);
  }

@keyframes fairy {
  0% {
      background-position: 
      bottom, 
      0%;
  }
  100% {
      background-position: 
      bottom,
      100%;
  }
}







/* Big Eeveelution */

.pokemonImage {
  background: url(../gif/Default.gif),
  linear;
  content: url(../gif/Default.gif),;
  width: 50%;
  box-sizing: content-box;
}

.InfoContainer { 
  grid-area: 1 / 6 / 2 / 9; 
  background-color: rgb(51 51 51);
  align-items: center;
  justify-content: center;
  display: flex;
  color:white;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  height: 25vh;
}

.InfoContainer section {
  width: 80%;
  height: 80%;
  position: relative;
}

.InfoContainer section h1 {
  font-size: 2em;
  margin: 0 0 0.2em 0;
}

.InfoContainer section ul {
  margin:0;
  padding: 0;
}

.InfoContainer section ul li {
  list-style: none;
  padding-bottom: 0.5em;  
}

.menuInfo {  
  grid-area: 2 / 6 / 3 / 9;
  height: 60vh;
  background-color: var(--grey);
}

div.deepDive {   
  height: 100%;
}

.hide {
  visibility: hidden;
  overflow-y: auto;
  overflow: scroll;
  height: 100%;
}

.deepDive article {
  position: relative;
  height: calc(100% - 3em);
  justify-content: center;
  color: white;
  overflow: hidden;
  overflow-y : auto;
  display: flex;
  align-items: flex-start;
}

ol {
  list-style: none;
  padding: 0;
  width: 80%;
  justify-content: end;
  
}

ol li p{
  padding-bottom: 1em;
  line-height: 1.3em;
  margin: 0;
  color: white;
  display: flex;

} 

ul li p {
  margin: 0;
}

p#evolution, p#moreInfo {
  font-size: 1em;
}

/* inactive evolution hover effect */
.deepDive button:hover {
  background-color: var(--grey);
  cursor: pointer;
  color:white;
}

.deepDive button:focus {
  border-color: var(--focus);
}

li#cry {
  display: flex;
  position: absolute;
  width: 100%;
  padding-bottom: 1em;
}

#cryPlay, #shinyButton {
  display: flex;
  margin-bottom: 0.5em;
  padding: 0.7em;
  width: 30%;
  text-align: center;
  height: 100%;
  font-size: 1em;
  border: none;
  transition: 1s;
  bottom: 1em;
  box-shadow: inset 0 0 0 0 lightgray;
  background-color: var(--lightgrey);
  margin-right: 1em;
}

#cryPlay::before {
  content:🔊;
}

#cryPlay:hover ,#shinyButton:hover {
  box-shadow: inset 15em 0 0 0 grey;
  cursor: pointer;
  color: white;
}

.menuEevees { grid-area: 3 / 1 / 4 / 9; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 15vh;
  position: relative;
  bottom: 0;
}

.menuEevees ul{
  display: flex;
  height: 100%;
  justify-content: center;
  
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.menuEevees ul li {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  color: white;
  width: 11.1111vw;
}

.menuEevees ul li:hover{
  cursor: pointer;
}

.menuEevees ul li img{
  bottom:15%;
  position: absolute;
}

.column {
  float: left;
  width: 33.33%;
}

.deepDive section{
  background-color: #595959;
  position: relative;
  display: flex;
}

div.info {
  height: 100%;
  position: relative;
  display: inline-block;
}

/******************/
/* h1 kleuren per pokemon/
/******************/

h1#naam.kleurEevee {
  color: #955a00;
}

h1#naam.kleurVaporeon {
  color: #87ABFF;
}

h1 {
  font-size:1.2em;
  margin-top:0em;
}


/* Menu onder in met de eeveelutions
  Animaties */

/* Eeveelution #1 */

.menuEevees ul li:nth-of-type(1){
  background-color: #78420E;
  height: 100%;
}

.menuEevees ul li:nth-of-type(1) img {
  height: 40%;

}

.menuEevees ul li:nth-of-type(1) img:hover{
animation-name: eevee;
animation-duration: 1s;
}


.menuEevees ul li:nth-of-type(1):hover{
  background-color: #78420E;
  background-image:
  repeating-linear-gradient(45deg, #955a00 25%, transparent 25%, transparent 75%, #955a00 75%, #955a00), 
  repeating-linear-gradient(45deg, #955a00 25%, #78420E 25%, #78420E 75%, #955a00 75%, #955a00);
  background-position: 0 0, 19px 19px;
  background-size: 38px 38px;
  animation-duration: 1s;
}


/* Eeveelution #2 */

.menuEevees ul li:nth-of-type(2){
  background-color: #87ABFF;
  height: 100%;
  opacity: 1;
}

.menuEevees ul li:nth-of-type(2) img {
  height: 55%;
}

.menuEevees ul li:nth-of-type(2):hover{
  background-color: #001bdb;
  opacity: 1;
  background-image:repeating-radial-gradient( 
  circle at 0 0, transparent 0, #001bdb 25px ), 
  repeating-linear-gradient( #59c2e355, #59c2e3 );

}

/* Eeveelution #3 */

.menuEevees ul li:nth-of-type(3){
  background-color: #FED26C;
  height: 100%;
}

.menuEevees ul li:nth-of-type(3) img {
  height: 55%;
}

/* .menuEevees ul li:nth-of-type(3) img:hover{
  transform: rotateY(360deg);
} */

.menuEevees ul li:hover:nth-of-type(3){
  background-color: #FED26C;
  opacity: 1;
  background-image:  
  linear-gradient(135deg, #FED26C 25%, transparent 25%), 
  linear-gradient(225deg, #FED26C 25%, transparent 25%), 
  linear-gradient(45deg, #FED26C 25%, transparent 25%), 
  linear-gradient(315deg, #FED26C 25%, #fff47e 25%);
  background-position:  15px 0, 15px 0, 0 0, 0 0;
  background-size: 30px 30px;
  background-repeat: repeat;
}

/* Eeveelution #4 Flareon */

.menuEevees ul li:nth-of-type(4){
  background-color: #FD7912;
  height: 100%;
  transition:1s;
  
}

.menuEevees ul li:nth-of-type(4) img {
  height: 75%;
}

.menuEevees ul li:hover:nth-of-type(4) {
  background-color: #FD7912;
  opacity: 1;
  background-image: linear-gradient(45deg, #d82323 50%, #FD7912 50%);
  background-size: 28px 28px;
}


/* Eeveelution #5 Espeon */

.menuEevees ul li:nth-of-type(5){   
  background-color: #F7C7FC;
  height: 100%;
  transition: 1s;
  opacity: 1;
}

.menuEevees ul li:nth-of-type(5) img {
  height: 60%;
}

.menuEevees ul li:hover:nth-of-type(5){
  background-image: 
  radial-gradient(circle at center center, #dd7ff5, #e5e5f7), 
  repeating-radial-gradient(circle at center center, #e57ef2, #e57ef2, 10px, transparent 20px, transparent 20px);
  background-blend-mode: multiply;
}

/* Eeveelution #6 Umbreon */

.menuEevees ul li:nth-of-type(6){ 
  background-color: #595959;
  height: 100%;
}

.menuEevees ul li:nth-of-type(6) img {
  height: 60%;
}

.menuEevees ul li:hover:nth-of-type(6){
  background-image: 
  radial-gradient(circle at center center, black, #e5e5f7), 
  repeating-radial-gradient(circle at center center, black, black, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
}

/* Eeveelution #7 Leafeon */

.menuEevees ul li:nth-of-type(7){
  background-color: #F7E0B5;
  height: 100%;
}

.menuEevees ul li:nth-of-type(7) img {
  height: 60%;
}

.menuEevees ul li:hover:nth-of-type(7){
  background-color: #F7E0B5;
  background-image: linear-gradient(to right, #a9c798, #a9c798 4.5px, #F7E0B5 4.5px, #F7E0B5 );
  background-size: 10px 150%;
}

/* Eeveelution #8 Glaceon */

.menuEevees ul li:nth-of-type(8){
  background-color: #BAEAFF;
  height: 100%;
}

.menuEevees ul li:nth-of-type(8) img {
  height: 65%;
}

.menuEevees ul li:hover:nth-of-type(8){
background-color: #BAEAFF;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #BAEAFF 20%, #BAEAFF 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #BAEAFF 20%, #BAEAFF 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#ffffff 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #ffffff 1.2000000000000002px, #BAEAFF 1.2000000000000002px) -0.6000000000000001px 0;
background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}

/* Eeveelution #9 Sylveon */

.menuEevees ul li:nth-of-type(9){
  background-color: #FD87EB;
  height: 100%;
  background:repeating-linear-gradient(
  45deg,
  #FFAAF2,
  #FFAAF2 0px,
  #FD87EB 0px,
  #FD87EB 0px
  );
  transition: 1s;
}

.menuEevees ul li:nth-of-type(9) img {
  height: 65%;
}

.menuEevees ul li:hover:nth-of-type(9){
background-color: #FD87EB;
opacity: 1;
background:repeating-linear-gradient(
  45deg,
  #FFAAF2,
  #FFAAF2 30px,
  #FD87EB 30px,
  #FD87EB 60px
  );
}



/* stukje code van de les uitleg
/* .les {
  outline: none;
  position: relative;
}


.les::after {
  content:"[2]";
  color: red;
  background-color: green;
  position: absolute;
  bottom: -25;
  left:0;
  width: 100%;
  height: 0.2em;
  transform: scaleX(0);
  transform-origin: left center;
  transition:transform 0.5s;
}

.les:hover::after{
  transform: scaleX(1);
}

.les:hover {
text-decoration: none;
} */





link {
  box-shadow:inset 0 0 0 0 red;

}

.evolution {
  display: block;
  position: absolute;
  visibility: hidden;
}

.hidden {
  visibility: visible;
}

#moreInfo {
  font-size: 0.7em;
}

#evolutionButton {
  width: 100%;
  border: none;
  height: 3em;
  font-size: 100%;
  overflow: hidden;
  transition: 1s;
}

#infoButton { 
  width: 100%;
  border: none;
  height: 3em;
  font-size: 100%;
  transition: 1s;
  background-color: var(--grey);
  color:white;
}

button#infoButton.infoActive {
  color:black;
  background-color: var(--lightgrey);
  transition: 1s;
}


button#evolutionButton.evoActive {
  color:white;
  background-color: var(--grey);
}

button#infoButton:hover {
  color:white;
  background-color: var(--grey);
}

iframe {
  background-color: transparent;
}

#evolution {
  font-size:0.7em;
}